body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f8;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #d8232a;
  color: white;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

/* HERO */
.hero {
  background: #eee;
  padding: 60px;
  text-align: center;
}

.search-box input,
.search-box select {
  padding: 10px;
  margin: 5px;
}

.search-box button {
  padding: 10px 20px;
  background: #d8232a;
  color: white;
  border: none;
}

/* PROPERTIES */
.properties {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  padding: 30px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
}

.card img {
  width: 100%;
}

.price {
  color: #d8232a;
  font-weight: bold;
}
.whatsapp {
  display: block;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background: #25D366;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.call {
  display: block;
  text-align: center;
  margin-top: 8px;
  padding: 10px;
  background: #0b5ed7;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
